/* || General styles */

body  {
    line-height: 1.4;
    font-family: 'Varela Round', sans-serif;
    color: #333;
    background: #fafafa;
}

/* Everything wrapped by this element is on top of the footer */
main {
    background: #fafafa;
    margin-bottom: 200px;
    -webkit-transition: filter 0.15s linear; /* Safari and Chrome */
    -moz-transition: filter 0.15s linear; /* Firefox */
    -ms-transition: filter 0.15s linear; /* IE 9 */
    -o-transition: filter 0.15s linear; /* Opera */
    transition: filter 0.15s linear;
}

@media only screen and (max-width: 767.98px) {
    main {
        margin-bottom: 300px;
    }
}

*::selection{
    background-color: pink;
}

section {
    padding: 60px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    margin: 30px;
    text-transform: lowercase;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
    color: darkgray;
}


/* || Header */

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fafafa;
}

header {
    min-height: 110vh;
    background: #fafafa;
}

/* Curve child of header instead of header to prevent footer from showing. */
.curve-bottom {
    height: 110vh;
    width: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background: rgb(166,255,250);
    background: -moz-linear-gradient(25deg, rgba(166,255,250,1) 0%, rgba(255,150,182,1) 91%) no-repeat;
    background: -webkit-gradient(25deg, rgba(166,255,250,1) 0%, rgba(255,150,182,1) 91%) fixed;
    background: -webkit-linear-gradient(25deg, rgba(166,255,250,1) 0%, rgba(255,150,182,1) 91%) no-repeat;
    background: -o-linear-gradient(25deg, rgba(166,255,250,1) 0%, rgba(255,150,182,1) 91%) no-repeat;
    background: -ms-linear-gradient(25deg, rgba(166,255,250,1) 0%, rgba(255,150,182,1) 91%) no-repeat;
    background: linear-gradient(25deg, rgba(166,255,250,1) 0%, rgba(255,150,182,1) 91%) no-repeat; 
}

#scroll-up-icon {
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    animation: 3s ease-in-out 0.1s infinite alternate up-and-down;
}

@keyframes up-and-down {
    from {
        bottom: 3%;
    }
    to {
        bottom: 1%;
    }
}

#scroll-up-icon > a {
    color: #fafafa;
}

#scroll-up-icon > a:hover {
    color: #d9d9d9;
}

/* || Navbar */

.navbar {
    text-transform: lowercase;
    top: 0;
    position: sticky;
    background: transparent !important;
    justify-content: end;
    z-index: 2;
}

@media only screen and (max-width: 767.98px) {
    .navbar {
        background-color: #fafafa !important;
    }
}

.navbar a{
    outline: none;
}

.middle-underline {
    position: relative;
}

.middle-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: palevioletred;
    border-radius: 5px;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transition: transform 0.3s ease-in-out; /* Safari and Chrome */
    -moz-transition: transform 0.3s ease-in-out; /* Firefox */
    -ms-transition: transform 0.3s ease-in-out; /* IE 9 */
    -o-transition: transform 0.3s ease-in-out; /* Opera */
    transition: transform 0.3s ease-in-out;
}

.middle-underline.active::before {
    visibility: visible;
    transform: scaleX(1);
}

/* || About */

#about {
    height: 100%;
    padding-top: 0;
    position: relative;
}

#about a {
    color: palevioletred;
}

/* || Projects */

#projects {
    background: #f1f1f1;
    border-radius: 24px;
}

#projects h3 {
    padding: 10px;
    text-transform: lowercase;
}

#projects .col-md-6 {
    padding: 0 5px;
}

#projects .card {
    border: none;
    border-radius: 3px;
    margin: 5px 0;
    color: #fafafa;
    height: 320px;
    cursor: pointer;
    overflow: hidden;
}

.project-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari prior 9.0 */
    transform: translate(-50%, -1.5rem);
    z-index: 1;
}

#projects .card .card-text {
    opacity: 0;
    transition: all 0.5s;
    font-size: 1.2rem;
    padding: 10px;
}

#projects .card:hover .card-text {
    opacity: 1;
}

.project-background p {
    transition: none;
}

.project-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    -webkit-transition: filter 0.5s ease, transform 0.5s ease; /* Safari and Chrome */
    -moz-transition: filter 0.5s ease, transform 0.5s ease; /* Firefox */
    -ms-transition: filter 0.5s ease, transform 0.5s ease; /* IE 9 */
    -o-transition: filter 0.5s ease, transform 0.5s ease; /* Opera */
    transition: filter 0.5s ease, transform 0.5s ease;
    filter: brightness(65%);
}

.card:hover .project-background {
    -webkit-transform: scale(1.03); /* Safari and Chrome */
    -moz-transform: scale(1.03); /* Firefox */
    -ms-transform: scale(1.03); /* IE 9 */
    -o-transform: scale(1.03); /* Opera */
    transform: scale(1.03);
    /* brightness must be first to prevent flickering in Microsoft Edge */
    filter: brightness(65%) blur(2px);
}

#social-network {
    background-image: url("../images/social-network.jpg");
}

#git {
    background-image: url("../images/git.png");
}

#sketch {
    background-image: url("../images/sketch.png") ;
}

#cipher-machine {
    background-image: url("../images/cipher-machine.jpg");
}

#this-website-box {
    padding: 0 4px;
}

#this-website {
    width: 100%;
    height: 100%;
    background: url("../images/this-website.png") center/cover fixed no-repeat;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

/* No scaling since it doesn't work well with parallax scrolling. */
#this-website-box:hover #this-website{
    filter: blur(2px);
}

/* || Project descriptions modals */

.modal a {
    color: palevioletred;   
}

.modal-content {
    height: 100vh;
    border: none;
    border-radius: 0;
    padding: 0 30px;
}

.modal-backdrop {
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    -moz-transition: all 0.25s ease; /* Firefox */
    -ms-transition: all 0.25s ease; /* IE 9 */
    -o-transition: all 0.25s ease; /* Opera */
    transition: all 0.25s ease;
    background-color: white;
    opacity: 0.7;
}

.modal-dialog {
    margin: 0 auto;
}

.modal-content ul {
    display: table;
    list-style-position: outside;
}

.modal-content li {
    display: table-row;
    padding: 0;
    margin: 0;
}

.modal-content li::before {
    content: "-";
    display: table-cell;
    text-align: right;
    position: relative;
    right: 20px;
    margin: 0;
    padding: 0;
}

.modal-footer {
    justify-content: center;
}

/* || Resume */

#resume .container {
    padding: 0;
}

#btn-resume {
    padding: 0;
    border: none;
    outline: none;
    background-clip: border-box;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    color: palevioletred;
    background: transparent;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#btn-resume:hover {
    color: #333;
}

#btn-resume > h2 {
    justify-self: center;
    align-self: center;
}

/** Set up animations around btn-resume. */
#btn-resume > div {
    content: "";
    position: relative;    
    background-color: palevioletred;
    -webkit-transition: transform 0.37s ease-in-out; /* Safari and Chrome */
    -moz-transition: transform 0.37s ease-in-out; /* Firefox */
    -ms-transition: transform 0.37s ease-in-out; /* IE 9 */
    -o-transition: transform 0.37s ease-in-out; /* Opera */
    transition: transform 0.37s ease-in-out;
    margin: 0;
    padding: 0;
}

#btn-resume > .top {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
    height: 3px;
    align-self: bottom;
    transform: scaleX(1);
    transform-origin: left;
    left: 1px;
}

#btn-resume:hover > .top {
    transform-origin: right;
    transform: scaleX(0);
}

#btn-resume > .bottom {
    grid-column: 1/4;
    grid-row: 4;
    width: 100%;
    height: 3px;
    align-self: top;
    transform: scaleX(1);
    transform-origin: right;
    left: 1px;
    bottom: 3px;
}

#btn-resume:hover > .bottom {
    transform-origin: left;
    transform: scaleX(0);
}

#btn-resume > .left {
    grid-column: 1;
    grid-row: 1/4;
    width: 3px;
    height: 100%;
    align-self: center;
    justify-self: left;
    transform: scaleY(0);
    transform-origin: top;
}

#btn-resume:hover > .left {
    transform-origin: bottom;
    transform: scaleY(1);
}

#btn-resume > .right {
    grid-column: 4;
    grid-row: 1/4;
    width: 3px;
    height: 100%;
    justify-self: start;
    transform: scaleY(0);
    transform-origin: bottom;
    right: 1px;
}

#btn-resume:hover > .right {
    transform-origin: top;
    transform: scaleY(1);
}

.resume-subtitle {
    margin: 50px 0;
}

#resume ul {
    list-style: none;
    padding: 0;
    position: relative;
    left: 11px;
}

#resume ul::before {
    content: '';
    background: #333;
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 1px;
    left: -9px;
    border-radius: 4px;
}

/* || Contact */

footer {
    height: 200px;
    background: #fafafa;
    color: #fafafa;
    background: #333;
    z-index: -1;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

@media only screen and (max-width: 767.98px) {
    footer {
        height: 300px;
    }
}

footer a, footer p {
    color: palevioletred !important;
}

footer a:hover {
    color: palevioletred;
}

footer p {
    margin: 0;
}
