/* || General styles */
body  {
    background: #fbfbfb;
    line-height: 1.4;
    font-family: 'Varela Round', sans-serif;
    color: #333;
}

h3 {
    font-size: 1.5rem;
}

a, button {
    outline: none !important;
}

/* || Header */

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

header {
    height: 100vh;
    background: center/cover url(../images/background-top.jpg) no-repeat fixed;
}

#scroll-up-icon {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    animation: up-and-down 3s infinite alternate;
}

@keyframes up-and-down {
    from {
        bottom: 3%;
    }
    top {
        bottom: 1%;
    }
}
#scroll-up-icon > a {
    color: #fbfbfb;
}
#scroll-up-icon > a:hover {
    color: #d9d9d9;
}

/* || Navbar */

.navbar {
    position: sticky;
    background: transparent !important;
}


/* || About */

#about {
    padding: 40px 20px 20px;
    height: 100%;
}

#about ul {
    list-style: none;
    padding: 0;

}
#about ul {
    position: relative;
    left: 10px;
}
#about ul::before {
    content: '';
    background-color: #333;
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 1px;
    left: -10px;
    border-radius: 4px;
}
/* #about .col-md-6::before { */
    /* width: 2px;
    display: inline-block;
} */