/* || General styles */
body  {
    background: #fbfbfb;
}

a {
    outline: none;
}

/* || Header */

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #333;
}

header {
    height: 100vh;
    background: center/cover url(../images/background-top.jpg) no-repeat fixed;
}

#scroll-up-icon {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    animation: up-and-down 3s infinite alternate;
}

@keyframes up-and-down {
    from {
        bottom: 3%;
    }
    top {
        bottom: 1%;
    }
}
#scroll-up-icon > a {
    color: #fbfbfb;
}
#scroll-up-icon > a:hover {
    color: #d9d9d9;
}

/* || About */

#about {
    padding: 40px 20px 20px;
}

#about img {
    width: 100%;
}

/* || Navbar */